

.heading h2 {
  margin: 0 0 12px;
  font-size: 42px;
  font-weight: 700;
}

.heading p {
  margin: 0;
  font-size: 17px;
}
 
.card {
  /* height: 330px !important; */
  border-radius:32px;  
}
 
.cardPading{
  padding: 30px 10px;
  /* padding: 20px 20px !important; */
  border-radius: 14px;

}
 .whychooseIcon{
    height: 10px ;
    width: 10px;
    object-fit: cover;
 }
 .CustomAboutHeight{
    height: 450px; 
 }
 .CustomAboutHeight img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    object-position: center;
 }
  
 .cardEvent{
    background-color: white !important;
    height: auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 21px 7px rgba(128, 128, 128, 0.321);
 }
  
 .PlayCard{
  background-color: white;
  padding: 20px;
  border-radius: 14px;
  
 }